<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trello App</title>
    <head th:insert="~{impl/header}">
</head>
<body>
<nav th:insert="~{impl/navbar}"></nav>
<div class="container">
    <div layout:fragment="content">

    </div>
</div>

<footer th:insert="~{impl/footer}"></footer>
</body>
</html>